.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 80px 0;
  }

  &__title {
    text-align: left;
  }

  &__text-block {
    max-width: 720px;
  }

  &__text {
    margin-top: 35px;

    &:first-of-type {
      //обращается к первому типу
      margin-top: 25px;
    }
  }

  &__btns {
    display: flex;
    margin-top: 32px;
    gap: 24px;
  }

  &__btn-history {
    border: 2px solid var(--blue-color-100, #4f8ff0);
    width: 210px;
    height: 49px;
  }

  &__btn-certificate {
    color: $color-black-text;
    background: var(--white-color-300, #e6e6e6);
    width: 161px;
    height: 49px;
  }

  &__image {
    width: 535px;
    height: 359px;
  }
}
