* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #222;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

select {
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Black.ttf);
  font-weight: 900;
  font-display: swap;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: content-box;
}

.line {
  width: 50px;
  border-bottom: 3px solid #00a4e5;
  margin-top: 10px;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #4F8FF0;
}

.title {
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
.title--blue {
  color: #4F8FF0;
  font-weight: 900;
}

.header {
  color: #fff;
}
.header__top {
  padding: 16px 0;
  background: #010101;
}
.header__top-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  gap: 0 28px;
}
.header__tel {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__mail {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__text {
  color: var(--blue-color-100, #4f8ff0);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}
.header__bottom {
  padding: 22px 0 28px;
  background: rgba(1, 1, 1, 0.76);
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 0;
  right: 0;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.header__nav {
  max-width: 680px;
  width: 100%;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  color: var(--white-color-100, #fff);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.header__menu-item:hover {
  color: var(--blue-color-100, #4f8ff0);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.hero {
  background-image: url("../img/background.webp");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 265px 0;
  text-align: center;
}
.hero::before {
  content: "";
  background: rgba(34, 34, 34, 0.64);
  position: absolute;
  inset: 0;
}
.hero__title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  position: relative;
}
.hero__subtitle {
  color: var(--blue-color-100, #4f8ff0);
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  position: relative;
}
.hero__text {
  color: var(--white-color-100, #fff);
  max-width: 1090px;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
}
.hero__btn {
  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--blue-color-100, #4f8ff0);
  position: relative;
  padding: 16px 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 48px;
}

.services {
  padding: 80px 0;
  background: #f7f7f7;
}
.services__line {
  margin: 11px auto 0;
}
.services__text {
  text-align: center;
  font-size: 16px;
  margin: 24px auto 0;
  max-width: 920px;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 38px 24px;
  margin-top: 48px;
}
.services__btn {
  display: block;
  margin: 0 auto;
  width: 138px;
  height: 49px;
  margin-top: 48px;
}

.services-card {
  background-color: #fff;
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 424px;
  height: 250px;
  transition: 0.3s ease-in-out;
}
.services-card:hover {
  background-color: #4F8FF0;
  color: #fff;
}
.services-card:hover .services-card__icon {
  filter: grayscale(1) brightness(1000%);
}
.services-card__icon {
  width: 35px;
  height: 35px;
}
.services-card__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  margin: 15px 0 10px;
}
.services-card__text {
  font-size: 14px;
  text-align: center;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 80px 0;
}
.about__title {
  text-align: left;
}
.about__text-block {
  max-width: 720px;
}
.about__text {
  margin-top: 35px;
}
.about__text:first-of-type {
  margin-top: 25px;
}
.about__btns {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.about__btn-history {
  border: 2px solid var(--blue-color-100, #4f8ff0);
  width: 210px;
  height: 49px;
}
.about__btn-certificate {
  color: #222;
  background: var(--white-color-300, #e6e6e6);
  width: 161px;
  height: 49px;
}
.about__image {
  width: 535px;
  height: 359px;
}

.lawyers__wrapper {
  display: flex;
  justify-content: space-between;
}

.lawyers-card {
  max-width: 312px;
  padding-bottom: 24px;
  position: relative;
}
.lawyers-card__name {
  margin: 24px 0 10px;
  font-weight: 700;
}
.lawyers-card__description {
  font-weight: 300;
  font-size: 14px;
}
.lawyers-card__img {
  width: 312px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.lawyers-hidden {
  position: absolute;
  top: 0;
  padding: 83px 20px;
  background-color: white;
  opacity: 0;
  transition: 1s ease-in-out;
}
.lawyers-hidden:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */